<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'HalfGlobe',
  props: {
    width: {
      type: String,
      required: false,
      default: '781',
    },
    height: {
      type: String,
      required: false,
      default: '523',
    },
  },
});
</script>

<template>
  <div class="animated-hero-half-globe">
    <nuxt-img
      :width="width"
      :height="height"
      src="/nuxt-images/developer-survey/half-globe.png"
      alt="globe"
      class="animated-hero-half-globe__globe"
      format="webp"
    />
  </div>
</template>

<style lang="scss" scoped>
.animated-hero-half-globe {
  position: relative;
  margin: 0 auto;
  backface-visibility: hidden;
  perspective: 1000;
  svg {
    width: 100%;
    height: 100%;
  }
}
</style>
