<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'YellowPurpleDashedCurves',
});
</script>

<template>
  <div ref="yellow-purple-dashed-curves" class="yellow-purple-dashed-curves">
    <svg
      width="653"
      height="533"
      viewBox="0 0 653 533"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter1_d_463_6048)">
        <path
          d="M393.443 207.537C407.255 207.843 419.703 213.555 428.804 222.602L428.101 221.918C438.245 231.63 444.443 245.396 444.109 260.511C443.479 289.09 419.722 311.828 391.152 311.197C377.164 310.888 364.574 305.034 355.442 295.782L302.425 239.958C302.425 239.958 231.386 159.581 116.774 142.634C63.5805 134.769 12.1612 159.414 6.10762 169.388C-7.54685 191.88 40.4218 223.179 119.349 225.808"
          stroke="url(#paint1_linear_463_6048)"
          stroke-width="1.2957"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 800"
        />
      </g>
      <g filter="url(#filter2_d_463_6048)">
        <path
          d="M322.001 221.577C312.803 211.742 299.813 205.472 285.32 205.15C256.751 204.52 232.994 227.258 232.363 255.836"
          stroke="url(#paint3_linear_463_6048)"
          stroke-width="1.2957"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81
      4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69 0.81 4.69
      0.81 4.69 0.81 4.69 0.81 800"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_463_6048"
          x="255.565"
          y="76.8594"
          width="327.87"
          height="208.735"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6048"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6048"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_463_6048"
          x="0.0459051"
          y="137.225"
          width="447.958"
          height="177.867"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 1 0 0 0 0 0.835294 0 0 0 0 0.54902 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6048"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6048"
            result="shape"
          />
        </filter>
        <filter
          id="filter2_d_463_6048"
          x="228.477"
          y="201.256"
          width="97.4121"
          height="58.4678"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.662745 0 0 0 0 0.537255 0 0 0 0 0.960784 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6048"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6048"
            result="shape"
          />
        </filter>
        <linearGradient
          id="paint0_linear_463_6048"
          x1="253.313"
          y1="248.488"
          x2="586.936"
          y2="111.16"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F39FC5" />
          <stop offset="1" stop-color="#E24329" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_463_6048"
          x1="52.4175"
          y1="300.235"
          x2="405.999"
          y2="154.691"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FCA121" />
          <stop offset="1" stop-color="#FFD58C" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_463_6048"
          x1="324.878"
          y1="559.277"
          x2="582.89"
          y2="-3.56564"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#5DDAB4" />
          <stop offset="1" stop-color="#338F7E" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_463_6048"
          x1="226.369"
          y1="242.797"
          x2="316.246"
          y2="205.801"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.yellow-purple-dashed-curves {
  position: absolute;
  left: -11.3%;
  top: -10.1%;
  width: 122%;
  height: 122%;

  svg {
    width: 100%;
    height: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
