<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'CodeOfConduct',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="conduct">
    <SlpContainer style="color: #f6f3fe">
      <SlpRow>
        <SlpColumn :cols="11">
          <SlpTypography
            v-if="data.header"
            variant="heading2-bold"
            tag="h3"
            class="slp-mb-32"
          >
            {{ data.header }}
          </SlpTypography>

          <div
            v-if="data.text"
            class="conduct__text"
            v-html="$md.render(data.text)"
          ></div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.conduct {
  background: #171321;
  padding: $spacing-96 0;
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}
</style>
