<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'Schedule',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-my-96">
    <SlpRow v-if="data.header">
      <SlpColumn :cols="8" class="slp-mb-65">
        <img
          src="/nuxt-images/icons/events/bulb-bolt-black.svg"
          style="width: 32px"
        />
        <SlpTypography
          v-if="data.header"
          variant="heading2-bold"
          tag="h2"
          class="slp-pb-24"
        >
          {{ data.header }}
        </SlpTypography>

        <SlpColumn v-if="data.text" :cols="9" class="slp-pb-16">
          <div
            v-if="data.text"
            class="schedule__text"
            v-html="$md.render(data.text)"
          ></div>
        </SlpColumn>

        <SlpColumn v-if="data.body" :cols="9" class="slp-pb-16">
          <SlpTypography
            v-for="item in data.body"
            :key="item"
            class="slp-pb-16"
            variant="body1"
            tag="p"
          >
            {{ item }}
          </SlpTypography>
        </SlpColumn>
        <SlpButton
          v-if="data.call_to_action"
          :href="data.call_to_action.button_link"
          :data-ga-name="data.call_to_action.button_link"
          data-ga-location="body"
          variant="primary"
          class="slp-mb-64"
        >
          {{ data.call_to_action.button_text }}
        </SlpButton>
      </SlpColumn>
    </SlpRow>
    <div class="schedule slp-mt-64">
      <div
        v-for="(item, index) in data.schedule"
        :key="index"
        class="schedule__wrapper"
      >
        <SlpTypography
          v-if="item.header"
          variant="body1-bold"
          tag="p"
          class="slp-pb-24 slp-flex"
          style="gap: 8px"
        >
          <img src="/nuxt-images/icons/events/calendar.svg" />
          {{ item.header }}
        </SlpTypography>
        <div
          v-if="item.text"
          class="schedule__list"
          v-html="$md.render(item.text)"
        ></div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.schedule {
  display: flex;
  gap: $spacing-32;
  flex-wrap: nowrap;

  @media screen and (min-width: $breakpoint-lg) {
    // https://stackoverflow.com/a/12198561
    @for $i from 2 through 4 {
      &__wrapper:first-child:nth-last-child(#{$i}),
      &__wrapper:first-child:nth-last-child(#{$i}) ~ div {
        width: calc(100% /#{$i});
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-direction: column;
  }

  &__list :deep ul {
    strong {
      font-weight: 600;
    }
    li {
      padding: 16px;
      font-size: 16px;
      line-height: 20px;
    }
    > :nth-child(odd) {
      background: #eee7fd;
    }
    > :nth-child(even) {
      background: #f6f3fe;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    :deep {
      p {
        padding-bottom: 16px;
      }
      h3 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.6px;
        line-height: 32px;
        padding-bottom: 24px;
      }
      strong {
        font-weight: 600;
      }
    }
  }
}
</style>
