<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeaturesComparisonList',
  props: {
    data: {
      type: Object,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      showTooltip: false,
      isScrolling: false,
    };
  },
  computed: {
    plans() {
      return [
        {
          name: this.data.freeTierTitle,
          button_text: this.data.freeTierButton.fields.text,
          button_href: this.data.freeTierButton.fields.externalUrl,
          button_variation: this.data.freeTierButton.fields.variation,
          button_ga_name: this.data.freeTierButton.fields.dataGaName,
          button_ga_location: this.data.freeTierButton.fields.dataGaLocation,
        },
        {
          name: this.data.premiumTierTitle,
          button_text: this.data.premiumTierButton.fields.text,
          button_href: this.data.premiumTierButton.fields.externalUrl,
          button_variation: this.data.premiumTierButton.fields.variation,
          button_ga_name: this.data.premiumTierButton.fields.dataGaName,
          button_ga_location: this.data.premiumTierButton.fields.dataGaLocation,
        },
        {
          name: this.data.ultimateTierTitle,
          button_text: this.data.ultimateTierButton.fields.text,
          button_href: this.data.ultimateTierButton.fields.externalUrl,
          button_variation: this.data.ultimateTierButton.fields.variation,
          button_ga_name: this.data.ultimateTierButton.fields.dataGaName,
          button_ga_location:
            this.data.ultimateTierButton.fields.dataGaLocation,
        },
      ];
    },
    sections() {
      return this.data.tableBody.reduce((result, item) => {
        if (
          item.sys.contentType.sys.type === 'Link' &&
          item.sys.contentType.sys.linkType === 'ContentType'
        ) {
          // Check if the content type is 'headerAndText'
          if (item.sys.contentType.sys.id === 'headerAndText') {
            // Create a new section object
            result.push({
              header: item.fields.header,
              featureComparisonTableRows: [],
            });
          } else if (
            item.sys.contentType.sys.id === 'featureComparisonTableRow'
          ) {
            // Check if the content type is 'featureComparisonTableRow'
            const currentSection = result[result.length - 1];
            if (currentSection) {
              // Add the featureComparisonTableRow to the current section
              currentSection.featureComparisonTableRows.push({
                featureText: item.fields.featureText,
                tooltipText: item.fields.tooltipText,
                needsFreeCheck: item.fields.needsFreeCheck,
                needsPremiumTierCheck: item.fields.needsPremiumTierCheck,
                needsUltimateTierCheck: item.fields.needsUltimateTierCheck,
              });
            }
          }
        }
        return result;
      }, []);
    },
  },
  mounted() {
    document.addEventListener('scroll', this.onScroll);
  },
  destroyed() {
    document.removeEventListener('scroll', this.onScroll);
  },
  methods: {
    onScroll() {
      this.isScrolling = window.scrollY >= 5;
    },
  },
});
</script>

<template>
  <SlpContainer class="container slp-mt-md-32">
    <SlpColumn :cols="12" class="table">
      <SlpRow class="row row__sticky" :class="{ surface: isScrolling }">
        <SlpColumn :cols="4" class="row__sticky--column">
          <SlpTypography
            tag="h1"
            variant="heading3-bold"
            class="column__title"
            >{{ data.tableTitle }}</SlpTypography
          >
          <SlpTypography tag="p" variant="body2">{{
            data.tableDescription
          }}</SlpTypography>
        </SlpColumn>

        <SlpColumn :cols="8" class="mobile-header">
          <SlpRow class="mobile-header__row">
            <SlpColumn v-for="plan in plans" :key="plan.name" :cols="2">
              <SlpTypography tag="h2" variant="heading4-bold">{{
                plan.name
              }}</SlpTypography>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
        <SlpColumn :cols="8" class="row__desktop">
          <SlpRow>
            <SlpColumn
              v-for="plan in plans"
              :key="plan.name"
              :cols="4"
              class="column"
            >
              <SlpTypography tag="h2" variant="heading4-bold">{{
                plan.name
              }}</SlpTypography>
              <SlpButton
                :href="plan.button_href"
                :variant="plan.button_variation"
                :data-ga-name="plan.button_ga_name"
                class="slp-mt-16"
                :data-ga-location="plan.button_ga_location"
              >
                <SlpTypography tag="span" variant="body2-bold">
                  {{ plan.button_text }}
                </SlpTypography>
                <SlpIcon name="chevron-lg-right" variant="product" />
              </SlpButton>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
      <SlpRow v-for="section in sections" :key="section.header" class="row">
        <SlpColumn :cols="12" class="table__section">
          <SlpTypography
            tag="h4"
            variant="heading4-bold"
            class="table__section--title"
            >{{ section.header }}</SlpTypography
          >
          <SlpRow
            v-for="feature in section.featureComparisonTableRows"
            :key="feature.featureText"
            class="feature"
          >
            <SlpColumn :cols="4" class="feature__column--title">
              <SlpTooltip
                :text="feature.tooltipText"
                position="right"
                class="feature__column--info-tip no-border"
                ><SlpIcon
                  name="information-o"
                  variant="product"
                  hex-color="#171321"
                  alt="Information icon"
                  @mouseover="showTooltip = true"
                  @mouseleave="showTooltip = false"
              /></SlpTooltip>
              <span v-html="$md.render(feature.featureText)" />
            </SlpColumn>
            <SlpColumn :cols="8" class="checks-container">
              <SlpRow class="checks">
                <SlpColumn
                  v-if="feature.needsFreeCheck"
                  class="check"
                  :cols="4"
                >
                  <SlpIcon
                    name="check"
                    variant="product"
                    hex-color="#171321"
                    alt="Check icon"
                    size="sm"
                  />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.needsFreeCheck"
                  class="check"
                  :cols="4"
                >
                </SlpColumn>

                <SlpColumn
                  v-if="feature.needsPremiumTierCheck"
                  class="check"
                  :cols="4"
                >
                  <SlpIcon
                    name="check"
                    variant="product"
                    hex-color="#171321"
                    alt="Check icon"
                    size="sm"
                  />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.needsPremiumTierCheck"
                  class="check"
                  :cols="4"
                >
                </SlpColumn>

                <SlpColumn
                  v-if="feature.needsUltimateTierCheck"
                  class="check"
                  :cols="4"
                >
                  <SlpIcon
                    name="check"
                    variant="product"
                    hex-color="#171321"
                    alt="Check icon"
                    size="sm"
                  />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.needsUltimateTierCheck"
                  class="check"
                  :cols="4"
                >
                </SlpColumn>
              </SlpRow>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
    </SlpColumn>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.container {
  min-width: 100vw;
  max-width: 100vw;
  padding: 0 $spacing-16;

  .table {
    position: relative;

    @media (min-width: 1024px) {
      padding: 0;
      max-width: 1170px;
      margin: 0 auto;
    }

    @media (max-width: calc($breakpoint-md - 1px)) {
      padding: 0;
    }

    .row {
      padding: $spacing-32 0;

      @media (max-width: calc($breakpoint-md - 1px)) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $spacing-8 0;
      }

      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        padding: 0;
      }

      &__sticky {
        position: sticky;
        top: 115px;
        background-color: white;
        z-index: 1000;
        padding: $spacing-16 0 $spacing-4 0;
        flex-direction: column;
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100vw;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          background: white;
        }

        @media (min-width: $breakpoint-sm) {
          top: 79px;
          flex-direction: row;
        }

        @media (min-width: $breakpoint-md) {
          padding: $spacing-16 0;
        }

        @media (min-width: $breakpoint-lg) {
          top: 115px;
        }

        @media (min-width: $breakpoint-xl) {
          top: 84px;
        }

        &--column {
          position: relative;
          margin-right: auto;
        }
      }
      &__desktop {
        @media (max-width: calc($breakpoint-md - 1px)) {
          display: none;
        }
      }
    }

    .surface {
      &::before {
        box-shadow: 0 24px 50px -16px #d1d0d3;
      }
    }

    &__section {
      width: 100%;
      z-index: 100;

      &--title {
        margin: $spacing-16 0;
        padding: 0 $spacing-8;
      }

      .checks-container {
        display: flex;
        justify-content: right;
        max-width: 158px;
        @media (min-width: $breakpoint-sm) {
          max-width: 170px;
        }
        @media (min-width: $breakpoint-md) {
          max-width: 100%;
        }

        .checks {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          @media (max-width: calc($breakpoint-md - 1px)) {
            justify-content: center;
            padding: 0;
          }

          @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            margin: 0;
            padding: 0;
            width: 100%;
            justify-content: space-evenly;
          }

          .check {
            display: flex;
            justify-content: space-around;
            width: 100%;

            @media (max-width: calc($breakpoint-md - 1px)) {
              flex: 1 1 33.33%;
              width: fit-content;
            }
          }
        }
      }
    }

    .column {
      @media (min-width: $breakpoint-md) {
        border-right: 1px dashed $color-surface-400;
        padding: 0 $spacing-8;
        &:last-child {
          border: none;
        }
      }
      @media (min-width: $breakpoint-lg) {
        padding: 0 $spacing-32;
      }
      @media (max-width: calc($breakpoint-md - 1px)) {
        display: none;
      }

      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        .slp-btn-tertiary {
          padding-left: 0;
        }
      }

      &__title {
        font-size: $text-heading-3;
        line-height: $line-height-heading-3;

        h4 {
          @media (max-width: $breakpoint-lg) {
            font-size: $text-heading-3-mobile;
            line-height: $line-height-heading-3-mobile;
          }
        }
      }
    }

    .feature {
      min-height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: calc($breakpoint-md - 1px)) {
        text-align: left;
        width: 100%;
        justify-content: space-between;
      }

      &:nth-child(even) {
        background-color: $color-surface-100;
      }

      &__column {
        text-align: right;
        padding-right: $spacing-24;

        @media (max-width: calc($breakpoint-md - 1px)) {
          padding-right: 0;
        }

        &--info-tip {
          display: flex;
          justify-content: right;
          padding: 0 $spacing-8;
          cursor: pointer;
        }

        &--title {
          display: flex;
          align-items: center;
          justify-content: left;

          @media (max-width: calc($breakpoint-md - 1px)) {
            max-width: 50%;
            padding-left: 4px;
          }
        }
      }
    }
  }

  .mobile-header {
    display: none;
    @media (max-width: $breakpoint-sm) {
      margin-left: auto;
      margin-right: 0;
    }
    @media (max-width: calc($breakpoint-md - 1px)) {
      display: block;
      margin-top: $spacing-16;

      &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: rotate(270deg);
        margin-right: -$spacing-4;

        & > * {
          border-bottom: 1px dashed $color-surface-400;
          padding: $spacing-8 $spacing-32 $spacing-8 $spacing-16;
          margin: 0;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
</style>
