<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'GradientHero',
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
  },
});
</script>

<template>
  <section class="gradient-hero">
    <SlpContainer>
      <SlpTypography
        tag="h1"
        variant="heading1-bold"
        class="slp-mb-24 slp-mt-24"
      >
        {{ title }}</SlpTypography
      >
      <SlpTypography tag="p" variant="heading5" class="slp-mb-24">
        {{ subtitle }}
      </SlpTypography>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.gradient-hero {
  padding: $spacing-96 0;
  background: linear-gradient(
    90deg,
    #eee7fd 2.53%,
    rgba(246, 243, 254, 0.83) 50.98%,
    rgba(255, 212, 216, 0.45) 100%
  );

  @media (max-width: $breakpoint-md) {
    background: linear-gradient(
      90deg,
      #eee7fd 2.53%,
      rgba(246, 243, 254, 0.83) 50.98%,
      rgba(255, 212, 216, 0.45) 100%
    );
  }
}
</style>
