<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  DibConclusion,
  DibCopyBlock,
  DibHero,
  DibIntroHighlight,
  DibMarketplace,
  DibWorkforce,
  DibWorkplace,
} from '../../components/diversity-inclusion-belonging/index.vue';
import { CONTENT_TYPES } from '~/common/content-types';
import { getClient } from '~/plugins/contentful.js';
import { DIBData, dibHelper } from '~/services/dib/dib.service';
import { FooterEditLinkMixin, LivePreviewMixin } from '~/mixins';
import { ContentfulLivePreview } from '@contentful/live-preview';

export default Vue.extend({
  components: {
    DibHero,
    DibIntroHighlight,
    DibCopyBlock,
    DibWorkforce,
    DibWorkplace,
    DibMarketplace,
    DibConclusion,
    NextStep,
  },
  nuxtI18n: false,
  mixins: [LivePreviewMixin, FooterEditLinkMixin],
  async asyncData() {
    try {
      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        include: 10,
        'sys.id': '3R79r8x2aifp6bFBRgWAjc',
      });

      const spaceId = items[0].sys.space.sys.id;
      const entryId = items[0].sys.id;

      const data: DIBData = dibHelper(items[0]?.fields);

      return { items, data, spaceId, entryId };
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    return getPageMetadata((this as any).data, this.$route.path);
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: (updatedData) =>
          (this.data = dibHelper(updatedData[0].fields)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>

<template>
  <div>
    <DibHero :data="data.dib_hero" />
    <DibIntroHighlight :data="data.dib_intro_highlight" />
    <DibCopyBlock :data="data.dib_copy_block_0" />
    <DibCopyBlock :data="data.dib_copy_block_1" />
    <DibWorkforce :data="data.dib_workforce" />
    <DibWorkplace :data="data.dib_workplace" />

    <DibMarketplace :data="data.dib_marketplace" :quote="data.quote" />
    <DibConclusion :data="data.dib_conclusion" />
    <NextStep :variant="data.nextSteps" />
  </div>
</template>
<style scoped lang="scss">
.dedicated-wrapper {
  overflow: hidden;
}

div[role='main'] {
  overflow: clip;
  :deep .markdown-body {
    background: transparent;

    strong {
      font-weight: bold;
    }
  }
}
</style>
