<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NavBanner',

  props: {
    currentLocale: {
      required: true,
      default: '',
      type: String,
    },
  },
  data() {
    return {
      content: null,
    };
  },

  async fetch() {
    const content = (await this.$content(
      this.currentLocale === 'en-us'
        ? `/nav-banner`
        : `${this.currentLocale}/nav-banner`,
    ).fetch()) as any;
    this.content = content;
  },
});
</script>

<i18n src="../../content/nav-banner.yml" lang="yaml"></i18n>

<template>
  <div class="banner">
    <nuxt-img
      preload
      class="slp-ml-24 banner_image"
      src="/nuxt-images/banner/left-stars.svg"
      alt=""
    />
    <SlpTypography class="slp-ml-24 banner_title" variant="body2-bold"
      >{{ content.title }}
    </SlpTypography>
    <SlpButton
      :href="content.url"
      variant="tertiary"
      class="cta"
      :data-ga-name="content.data_ga_name"
      :data-ga-location="content.data_ga_location"
      >{{ content.cta }}
      <SlpIcon class="slp-ml-8 arrow-icon" variant="product" name="arrow-right"
    /></SlpButton>
    <nuxt-img
      preload
      class="banner_image"
      src="/nuxt-images/banner/right-stars.svg"
      alt=""
    />
  </div>
</template>

<style lang="scss" scoped>
.banner {
  background-color: $color-surface-700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (min-width: 835px) {
    height: 52px;
  }
  .cta {
    color: white;
    text-decoration: underline;
    margin-left: 24px;
    font-weight: 400;
    .arrow-icon {
      @media (max-width: 835px) {
        display: none;
      }
    }
    @media (max-width: 835px) {
      color: #7759c2;
      padding: 0;
      margin-left: 0;
    }
  }
  &_title {
    color: $color-text-50;
  }

  @media (max-width: 945px) {
    &_image {
      display: none;
    }
  }

  @media (max-width: 835px) {
    background-color: $color-surface-900;
    flex-direction: column;
    align-items: initial;
    padding: $spacing-16;

    &_title {
      color: $color-text-300;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
</style>
