<script lang="ts">
import Vue from 'vue';
import { NAV_CONTENT_TYPES } from '../../common/content-types';
import { convertToCaseSensitiveLocale } from '../../common/util';
import { getNavigationClient } from '~/plugins/contentful';
import { SearchEventMixin } from '~/mixins';

export default Vue.extend({
  name: 'SlpNavigationHOC',
  mixins: [SearchEventMixin],
  data() {
    return {
      searchVisible: false,
      navigation: {},
    };
  },
  async fetch() {
    const navigationEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.NAVIGATION,
      include: 3,
      'sys.id': '4ANorm7zz94uE5N6oexbdi',
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const [navigation] = navigationEntry.items;

    this.navigation = navigation;
  },
  mounted() {
    document.addEventListener('searchClick', this.toggleDesktopSearch);
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false;
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible;
      if (this.searchVisible) {
        this.sendFocusToSearch();
      }
    },
    openDesktopSearch() {
      this.searchVisible = true;
      this.sendFocusToSearch();
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any;
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus();
      }, 350);
    },
  },
});
</script>

<template>
  <div class="nav-hoc">
    <client-only>
      <SlpNavigation
        free-trial-variant="primary"
        :contentful-navigation-data="navigation"
      />
    </client-only>
  </div>
</template>

<style lang="scss">
.nav-hoc {
  background: $color-surface-50;
  min-height: 84px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;

  @media (min-width: 576px) and (max-width: 1024px) {
    min-height: 80px;
  }

  @media (max-width: 575px) {
    min-height: 116px;
  }

  .navigation-dropdown__popover {
    a {
      text-decoration: none !important;
    }
  }
}
</style>
