<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PressCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="press-card">
    <div class="press-card__content">
      <div class="press-card__subheading">
        <div v-if="data.image" class="press-card__img-small">
          <img :src="data.image.src" :alt="data.image.alt" />
        </div>
        <SlpTypography
          variant="body2-bold"
          tag="h2"
          class="press-card__subtitle"
          >{{ data.subtitle }}</SlpTypography
        >
      </div>

      <SlpTypography variant="body1" tag="h3" class="slp-mb-8">{{
        data.title
      }}</SlpTypography>

      <SlpButton
        v-if="data.button?.text || data.cardLink || data.slug"
        variant="tertiary"
        :href="data.cardLink || data.slug"
        :arrow="true"
        :data-ga-name="data.cardLinkDataGaName || data.title"
        :data-ga-location="data.cardLinkDataGaLocation || 'body'"
        >{{ data.button?.text || 'Read More' }}
        <SlpIcon name="arrow-right" variant="product" alt="Arrow Right Icon"
      /></SlpButton>
    </div>
    <div class="press-card__img">
      <img v-if="data.image" :src="data.image.src" :alt="data.image.alt" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.press-card {
  padding: 60px 40px;
  border-bottom: 1px solid #e7e7e7;
  :deep {
    .slp-btn-tertiary {
      color: $color-text-link-100;
      &:hover,
      &:focus {
        text-decoration-color: inherit;
      }
    }
  }
  .press-card__img {
    display: none;
  }
  &:nth-child(1) {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-bottom: none;
    .press-card__img-small {
      display: none;
    }
    .press-card__img {
      display: block;
    }
    @media (min-width: $breakpoint-md) {
      grid-column-end: span 2;
      .press-card__content {
        margin-right: $spacing-32;
      }
    }
    :deep {
      .slp-text-body1 {
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
  &__img {
    height: 60px;
    max-height: 60px;
    max-width: 240px;
    img {
      width: 100%;
    }
  }
  &__img-small {
    max-width: 120px;
    margin-right: auto;
    img {
      width: 100%;
    }
  }

  &__subheading {
    width: 100%;
    display: flex;
    align-content: center;
    margin-bottom: 10px;
  }
  &__subtitle {
    color: $color-surface-400;
  }
}
</style>
