<script>
import { IsMobileMixin } from '../../mixins';
import Tabs from './tabs.vue';

export default {
  components: {
    Tabs,
  },
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
    },
    ctaText: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      selectedTab: 0,
      tabs: [],
    };
  },
  computed: {
    caseStudyCards() {
      const cards = {
        featured: {},
        smallCards: [],
      };

      this.data.tabs[this.selectedTab].fields.tabPanelContent.forEach(
        (card, index) => {
          if (index === 0) {
            cards.featured = {
              company: card.fields.companyName,
              logo: card.fields.companyLogo.fields.file.url,
              cardImage: card.fields.headerImage.fields.file.url,
              quote: card.fields.quotes[0].fields.quoteText,
              author: card.fields.quotes[0].fields.author,
              title: card.fields.quotes[0].fields.authorTitle,
              link: card.fields.slug,
            };
          } else {
            cards.smallCards.push({
              company: card.fields.companyName,
              description: card.fields.description,
              logo: card.fields.companyLogo.fields.file.url,
              cardImage: card.fields.headerImage.fields.file.url,
              link: card.fields.slug,
            });
          }
        },
      );
      return cards;
    },
  },
  mounted() {
    this.tabs = this.data.tabs.map((tab) => tab.fields);
  },
  methods: {
    setActiveCategory(newTab) {
      this.selectedTab = newTab;
    },
  },
};
</script>

<template>
  <SlpContainer>
    <div class="customers-showcase">
      <SlpTypography
        :variant="isMobile ? 'heading3-bold' : 'heading2-bold'"
        tag="h2"
        class="header"
        >{{ data.header }}</SlpTypography
      >
      <div class="showcase-container">
        <Tabs
          :tabs="tabs"
          :cta="data.tabs[selectedTab].fields.tabCta.fields"
          :selected-tab="selectedTab"
          @change="(newTab) => setActiveCategory(newTab)"
        />
        <transition name="fade" mode="out-in" tag="div">
          <div :key="selectedTab" class="showcase-cards">
            <div class="feature-card">
              <img
                class="image"
                :src="caseStudyCards.featured.cardImage"
                alt=""
                loading="lazy"
              />
              <div class="text-container">
                <img
                  class="logo slp-mb-16"
                  :src="caseStudyCards.featured.logo"
                  :alt="`${caseStudyCards.featured.company} logo`"
                  loading="lazy"
                />
                <SlpTypography variant="quotes" class="slp-mb-16">
                  {{ caseStudyCards.featured.quote }}
                </SlpTypography>
                <div class="author slp-mb-24">
                  <SlpTypography variant="body3-bold" tag="p">
                    {{ caseStudyCards.featured.author }}</SlpTypography
                  >
                  <SlpTypography variant="body3" tag="p">
                    {{ caseStudyCards.featured.title }},
                    {{ caseStudyCards.featured.company }}
                  </SlpTypography>
                </div>
                <SlpButton
                  :href="`/customers/${caseStudyCards.featured.link}`"
                  :data-ga-location="`${caseStudyCards.featured.companyName} `"
                  data-ga-name="
                   customers showcase
                  "
                >
                  {{ ctaText }}
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
            </div>
            <div
              v-for="customerCase in caseStudyCards.smallCards"
              :key="customerCase.company"
              class="case-study"
            >
              <img
                class="image"
                :src="customerCase.cardImage"
                alt=""
                loading="lazy"
              />
              <div class="text-container">
                <img
                  class="logo"
                  :src="customerCase.logo"
                  :alt="`${customerCase.company} logo`"
                  loading="lazy"
                />
                <SlpTypography variant="body1" class="text slp-mb-24">
                  {{ customerCase.description }}</SlpTypography
                >
                <SlpButton
                  :href="`/customers/${customerCase.link}/`"
                  :data-ga-name="`${customerCase.company}`"
                  data-ga-location="customers showcase"
                >
                  {{ ctaText }}
                  <SlpIcon
                    variant="product"
                    name="chevron-lg-right"
                    class="slp-ml-8"
                  />
                </SlpButton>
              </div>
            </div>
            <div class="mobile-learn-more-button">
              <SlpButton
                variant="tertiary"
                :href="data.tabs[selectedTab].fields.tabCta.fields.externalUrl"
                >{{ data.tabs[selectedTab].fields.tabCta.fields.text
                }}<SlpIcon variant="product" name="chevron-lg-right" />
              </SlpButton>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.mobile-learn-more-button {
  display: block;
  a {
    text-align: left;
  }
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
.customers-showcase {
  margin-bottom: 112px;
}
.header {
  margin-bottom: 60px;
  @media (min-width: $breakpoint-md) {
    max-width: 70%;
  }
}

.text-container {
  display: flex;
  background: $color-surface-800;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 265px;
  padding: 40px;
  height: 100%;
  @media (max-width: $breakpoint-lg) {
    min-height: 0;
    padding: 16px;
    border-radius: 0 0 4px 4px;
  }
}
.logo {
  max-width: 120px;
  max-height: 50px;
  margin-bottom: 8px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 16px;
  }
}
.text {
  @media (max-width: $breakpoint-md) {
    margin-bottom: 24px;
  }
}
.image {
  max-width: 100%;
  max-height: 160px;
  object-fit: cover;
  @media (min-width: $breakpoint-md) {
    max-width: 561px;
    max-height: 442px;
    display: block;
  }
}
.showcase-cards {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.feature-card {
  display: flex;
  grid-column: span 2;
  border-radius: 4px;
  overflow: hidden;
  @media (max-width: $breakpoint-md) {
    grid-column: span 1;
    flex-direction: column;
  }
  .image {
    @media (min-width: $breakpoint-md) {
      min-height: 100%;
    }
  }
}

.case-study {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  &:last-child {
    .text-container {
      @media (min-width: $breakpoint-md) {
        border-radius: 0 0 100px 0;
      }
    }
  }
  .image {
    max-height: 200px;
    min-width: 100%;
  }
}
</style>
