<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'MicrositeShowcaseCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    partner: {
      type: Object,
      required: false,
      default: null,
    },
  },
});
</script>

<template>
  <div class="card">
    <ul v-if="data.list" class="card__list">
      <li v-for="item in data.list" :key="item" class="card__list--item">
        <SlpIcon
          variant="marketing"
          size="md"
          name="check-circle-alt"
          class="check-icon"
        />
        <span>{{ item }}</span>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
.card {
  background: $color-surface-800;
  border-radius: 8px;
  color: $color-text-300;
  padding: 32px;

  &__list {
    display: block;
    &--item {
      display: flex;
      align-items: start;
      gap: 16px;
      font-size: $text-body-1;
      line-height: $line-height-body-1;

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }
}
</style>
