<script lang="ts">
import Vue from 'vue';
import MicrositeTextBlock from './microsite-text-block.vue';
import MicrositeCardBlock from './microsite-card-block.vue';
import MicrositeVideo from './microsite-video.vue';
import MicrositeShowcaseCard from './microsite-showcase-card.vue';

export default Vue.extend({
  name: 'MicrositeTrackSection',
  components: {
    MicrositeTextBlock,
    MicrositeCardBlock,
    MicrositeVideo,
    MicrositeShowcaseCard,
  },
  props: {
    data: {
      type: Array,
      required: true,
      default: null,
    },
    partner: {
      type: Object,
      required: false,
      default: null,
    },
  },
});
</script>

<template>
  <div class="track">
    <component
      :is="component.name"
      v-for="(component, index) in data"
      :key="component.name + `-${index}`"
      :data="component.data"
      :partner="partner"
    />
  </div>
</template>

<style lang="scss" scoped>
.track {
  padding-bottom: 96px;

  &:not(:first-of-type) {
    padding-top: 96px;
  }

  @media (max-width: $breakpoint-md) {
    padding-bottom: 24px;

    &:not(:first-of-type) {
      padding-top: 64px;
    }

    &:last-of-type {
      padding-bottom: 48px;
    }
  }
}
</style>
