<script lang="ts">
import Vue from 'vue';

import MicrositeCtaTabs from './microsite-cta-tabs.vue';
import MicrositeTrackSection from './microsite-track-section.vue';

export default Vue.extend({
  name: 'MicrositeSideNavigation',
  components: {
    MicrositeCtaTabs,
    MicrositeTrackSection,
  },
  props: {
    partner: {
      type: Object,
      required: false,
      default: null,
    },
    data: {
      required: true,
      default: null,
      type: Object,
    },
  },
});
</script>

<template>
  <div class="body">
    <SlpSideNavigation v-if="data.sideMenu.anchors" :data="data.sideMenu">
      <template v-if="data.sideMenu.tabs" #header>
        <MicrositeCtaTabs :data="data.sideMenu.tabs" :partner="partner" />
      </template>
      <MicrositeTrackSection
        v-for="(track, index) in data.tracks"
        :key="track + `-${index}`"
        :data="track.data"
        :partner="partner"
      />
    </SlpSideNavigation>
  </div>
</template>

<style lang="scss">
.body {
  #collapsible-sidebar {
    // Lines 47-52 are PATCHES until these updates are made in Slippers
    &::-webkit-scrollbar {
      display: none; /* Hide native scrollbar - Chrome and Safari */
    }
    scrollbar-width: none; /* Hide native scrollbar - Firefox */
    -ms-overflow-style: none; /* Hide native scrollbar -  Edge */
    padding: 32px 0 32px 32px !important;
  }
}

.main-content .dropdown {
  @media (max-width: $breakpoint-md) {
    top: 66px !important;
  }
  @media (max-width: 493px) {
    top: 108px !important;
  }
}
</style>
